includes:
    - vendor/wyrihaximus/phpstan-react/extension.neon

parameters:
    level: 8
    paths:
        - packages/phalanx-aegis/src
        - packages/phalanx-archon/src
        - packages/phalanx-stoa/src
        - packages/phalanx-twilio/src
        - packages/phalanx-athena/src
        - packages/phalanx-hydra/src
        - packages/phalanx-postgres/src
        - packages/phalanx-redis/src
        - packages/phalanx-styx/src
        - packages/phalanx-hermes/src
        - packages/phalanx-argos/src
        - packages/phalanx-enigma/src
        - packages/phalanx-eidolon/src
        - packages/phalanx-theatron/src
        - packages/phalanx-grammata/src
        - packages/phalanx-skopos/src
    excludePaths:
        analyseAndScan:
            - packages/phalanx-aegis/src/Parallel (?)
            - packages/phalanx-aegis/src/Stream/ (?)
            - packages/phalanx-aegis/src/Runtime/PhalanxRuntime.php (?)
            - packages/phalanx-aegis/src/Runtime/PhalanxHttpRunner.php (?)
            - packages/phalanx-athena/src/Cli/AgentRepl.php (?)
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - stubs/Symfony/Component/Runtime/RunnerInterface.php
        - stubs/Symfony/Component/Runtime/GenericRuntime.php
    ignoreErrors:
        # Scopeable and Executable are marker interfaces. Implementations
        # always declare __invoke; the dispatcher invokes them via call syntax.
        - identifier: callable.nonCallable
        - identifier: wyrihaximus.reactphp.blocking.function.fileExists
        - identifier: wyrihaximus.reactphp.blocking.function.isDir
        - identifier: wyrihaximus.reactphp.blocking.function.isFile
        - identifier: wyrihaximus.reactphp.blocking.function.filePutContents
        - identifier: wyrihaximus.reactphp.blocking.function.fwrite
        - identifier: wyrihaximus.reactphp.blocking.function.fread
        - identifier: wyrihaximus.reactphp.blocking.function.usleep
        - identifier: wyrihaximus.reactphp.blocking.function.mkdir
